{% section 'featured-collections' %}

{% section 'featured-collections-two' %}

{% section 'featured-collections-three' %}

{% section 'featured-collections-four' %}

{% section 'instagram-feed' %}


<div id="custom_collection_sidebar" class="CollectionFilters">
  <div class="Collapsable__Inner">
    <div class="Collapsable__Content">
      <ul class="linklist">
        <li id="touslesproduits_filter" class="Linklist__Item is-selected">1.TOUS LES PRODUITS</li>
        <li id="second_collection_filter" class="Linklist__Item">2.LALALI</li>
        <li id="third_collection_filter" class="Linklist__Item">3.OPOPO</li>
        <li id="fourth_collection_filter" class="Linklist__Item">4.TROLLOLO</li>
      </ul>
    </div>
  </div>
</div>
