{% section 'featured-collections' %}

{% section 'featured-collections-two' %}

{% section 'featured-collections-three' %}

{% section 'featured-collections-four' %}

{% section 'featured-collections-five' %}

{% section 'newsletter' %}

{% section 'instagram-feed' %}


<div id="custom_collection_sidebar" class="CollectionFilters">
  <div class="Collapsable__Inner">
    <div class="Collapsable__Content">
      <ul class="linklist">
        <li id="touslesproduits_filter" class="Linklist__Item is-selected">TOUS LES PRODUITS</li>
        <li id="second_collection_filter" class="Linklist__Item">ANTI-IMPERFECTIONS</li>
        <li id="third_collection_filter" class="Linklist__Item">ANTIRIDES</li>
        <li id="fourth_collection_filter" class="Linklist__Item">ÉCLAT</li>
        <li id="fifth_collection_filter" class="Linklist__Item">HYDRATANTS ET NOURISSANTS</li>
      </ul>
    </div>
  </div>
</div>
